<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ECharts</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.3.3/echarts.min.js"></script>
</head>
<body style="margin: 0; padding: 0">
    <div id="main" style="width: 100vw; height: 100vh;"></div>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        option = {{option}};
        myChart.setOption(option);
    </script>
</body>
</html>